.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.student-details,
.enrolled-courses {
  align-items: center;
  text-align: center;
  background-color: lightblue;
  flex: 1;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px; 
}

.progress-bar {
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 10px;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

.progress.incomplete {
  background-color: #f44336;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column; 
  }

  .student-details,
  .enrolled-courses {
    margin: 10px 0; 
  }
}

@media (max-width: 480px) {
  .student-details,
  .enrolled-courses {
    padding: 10px; 
  }

  .button-container {
    flex-direction: column; 
  }

  button {
    width: 100%; 
    margin-top: 10px; 
  }
}
